[submodule "Pearly/vendor/spdlog"]
	path = Pearly/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Pearly/vendor/GLFW"]
	path = Pearly/vendor/GLFW
	url = https://github.com/JumpyLionnn/glfw
[submodule "Pearly/vendor/imgui"]
	path = Pearly/vendor/imgui
	url = https://github.com/JumpyLionnn/imgui
[submodule "Pearly/vendor/glm"]
	path = Pearly/vendor/glm
	url = https://github.com/g-truc/glm
